#kc-header {
    color: #ffffff !important;
    overflow: visible;
    white-space: nowrap;
    height: 56px;
    width: 100%;
    margin: 0 auto;
    background: no-repeat;
    background-size: contain;
    /* background-image: url(../img/logo_top.png), linear-gradient(to right,#f68e21 0,#f05d41 100%); */
    background-image: linear-gradient(to right,#f68e21 0,#f05d41 100%);
    align-items: stretch;
}
.logo-image {
     float: left;
     width: 25%;
     height: 60px;
     white-space: nowrap;
     margin-left: 90px;
     background: url(../img/logo_top.png) no-repeat center;
     background-size: 120px;
 }
 .vdtcColor{
  color:#ffffff !important;
 }