<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/homeLayouts/index.html}">
<head>

</head>
<body>

<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="col-sm-12">
                <img style="height: 90%;width: 100%;"src="dist/img/background/background.png">
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <!-- /.card-body -->
        </div>
<!--        <script th:src="@{js/user.js}"></script>-->
    </section>
    <!-- page script -->
    <script>

    </script>
</div>
</body>
</html>